<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      <a href="index.html">
        <img src="assets/images/logo.jpg" alt="E-Cycle Hub Logo" />
        <span>E-Cycle Hub</span>
      </a>
    </div>
    <div class="nav-toggle" id="navToggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-links" id="navLinks">
      <li><a href="index.html" class="nav-link">Home</a></li>
      <li><a href="shop.html" class="nav-link">Shop</a></li>
      <li><a href="cart.html" class="nav-link">Cart</a></li>
      <li id="user-info" style="display: none">
        <span id="user-name"></span>
        <a href="#" id="logout" class="nav-link">Logout</a>
      </li>
      <li id="auth-links">
        <a href="login.html" class="nav-link">Login</a>
        <span>/</span>
        <a href="signup.html" class="nav-link">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
